.s-result-item:has([data-ad-feedback])
.s-result-item:has([data-ad-feedback-label-id])
.s-result-item.AdHolder
div.s-inner-result-item > div.sg-col-inner:has(a.puis-sponsored-label-text)
.s-result-list > .a-section:has(.sbv-ad-content-container)
.sbv-video-single-product
div[cel_widget_id^="adplacements:"]
div[cel_widget_id^="MAIN-FEATURED_ASINS_LIST-"]
span[cel_widget_id^="MAIN-FEATURED_ASINS_LIST-"]
div[cel_widget_id^="multi-brand-"]
div[cel_widget_id^="LEFT-SAFE_FRAME-"]
div[cel_widget_id*="Deals3Ads"]
div[cel_widget_id*="_ad-placements-"]
div[cel_widget_id="typ-ads"]
div[cel_widget_id="sp_phone_detail_thematic"]
div[cel_widget_id="sp-orderdetails-mobile-list_mobile-yo-orderdetails_0"]
div[cel_widget_id="sp-pop-mobile-carousel_mobile-yo-postdelivery_0"]
div[cel_widget_id="sp-shiptrack-mobile-list_mobile-yo-shiptrack_0"]
div[cel_widget_id="sp-typ-mobile-carousel_mobile-typ-carousels_2"]
[cel_widget_id*="-creative-desktop_loom-desktop-"]
div[data-cel-widget^="multi-brand-video-mobile_DPSims_"]
div[data-cel-widget^="multi-card-creative-desktop_loom-desktop-top-slot_"]
div[data-csa-c-painter="sp-cart-mobile-carousel-cards"]
div[data-csa-c-slot-id^="loom-mobile-brand-footer-slot_hsa-id-"]
div[data-csa-c-slot-id^="loom-mobile-top-slot_hsa-id-"]
#sponsoredProducts_feature_div
#sponsoredProducts2_feature_div
#similarities_feature_div:has(span.sponsored_label_tap_space)
#faceoutContainer:has(> [class$="sponsored-label"])
div[id^="sp_detail"]
div[id^="sims-simsContainer_feature_div_"]:has(.sp_info_link)
div[class*="SponsoredProducts"]
.a-cardui[class*="_new-detail-faceout-box_"]:has(.dynamicSponsoredLabelClass)
.dp-widget-card-deck:has([data-ad-placement-metadata])
div[class*="_dpNoOverflow_"][data-idt]
div[data-a-carousel-options*='"isSponsoredProduct":"true"']
.amzn-safe-frame-container
#nav-swmslot
#sc-rec-bottom
#sc-rec-right
#typ-recommendations-stripe-1
#typ-recommendations-stripe-2
#mobile-mshop-ad
span[cel_widget_id^="MAIN-loom-desktop-brand-footer-slot_hsa-id-CARDS-"]
span[cel_widget_id^="MAIN-loom-desktop-top-slot_hsa-id-CARDS-"]
div[cel_widget_id*="desktop-dp-"]
div[cel_widget_id^="sp-desktop-carousel_handsfree-browse"]
div[cel_widget_id="sp-rhf-desktop-carousel_desktop-rhf_0"]
div[cel_widget_id="sp-shiptrack-desktop-carousel_desktop-yo-shiptrack_0"]
div[cel_widget_id="sp-orderdetails-desktop-carousel_desktop-yo-orderdetails_0"]
div[data-cel-widget="sp-rhf-desktop-carousel_desktop-rhf_1"]
div[data-cel-widget="sp-shiptrack-desktop-carousel_desktop-yo-shiptrack_0"]
div[cel_widget_id^="sb-"]
div[data-cel-widget^="sb-"]
[data-component-type^="aspa-asin-ajax"]
div[data-cel-widget^="mobile-ads-"]
#detailILM_feature_div
[id^="mobile-dp-ilm"]
div[cel_widget_id^="sp-mobile-thematic-bundle"]
div[data-cel-widget^="sp-mobile-thematic-bundle"]
div[data-cel-widget^="multi-brand-video-mobile_DetailPage_"]
.sponsored-products-detail-mobile
.ape-wrapper
[id^="ape_"]
div[data-csa-c-painter="single-creative-card"]
div[data-csa-c-painter="single-video-card"]
#sponsored-proofPoint-section
[data-ad-id]
.a-carousel-card:has(.p13n-sc-sponsored-label)
